body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.high-contrast {
  background-color: #000 !important;
  color: #ff0 !important;
}

.high-contrast button,
.high-contrast input,
.high-contrast select {
  background-color: #111 !important;
  color: #ff0 !important;
  border: 2px solid #ff0 !important;
}

.high-contrast a {
  color: #0ff !important;
}
